<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(${movie.name})}"></div>

<body>

<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="movie">
                <h2 class="page-heading" th:text="${movie.name}"></h2>

                <div class="movie__info">
                    <div class="col-sm-4 col-md-3 movie-mobile">
                        <div class="movie__images">
                            <span class="movie__rating">4.0</span>
                            <img alt="" th:src="${movie.poster}"/>
                        </div>
                        <div class="movie__rate">
                            Your vote:
                            <div id="score" class="score"></div>
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-9">
                        <p class="movie__time" ><span th:text="${movie.duration}"></span>Min</p>

                        <p class="movie__option">
                            <strong>国家: </strong><a href="#" th:text="${movie.country}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>年份: </strong><a href="#" th:text="${movie.releaseDate.getYear()+1900}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>类别: </strong>
                            <span th:each="c:${movie.categories}">
                                <a th:href="@{/movies(category=${c.id}) }"  th:text="${c.getName()}"></a>
                            </span>
                        </p>
                        <p class="movie__option" >
                            <strong>上映日期: </strong><span href="#" th:text="${#dates.format(movie.releaseDate,'yyyy-MM-dd')}"></span>
                        </p>
                        <p class="movie__option">
                            <strong>导演: </strong><a href="#" th:text="${movie.directors}"> </a>
                        </p>
                        <p class="movie__option" >
                            <strong>演员: </strong> <a href="#" th:text="${movie.actors}"></a>
                        </p>
                        <div class="movie__btns movie__btns--full">
                            <a href="#" class="btn btn-md btn--warning">预订此电影</a>
                            <a href="#" class="watchlist">添加到播放列表</a>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">剧情</h2>

                <p class="movie__describe" th:text="${movie.plot}">
                </p>
            </div>

            <h2 class="page-heading">场次</h2>
            <div class="choose-container">

                <div class="clearfix"></div>

                <div class="time-select">
                    <div class="time-select__group">
                        <div class="col-sm-4">
                            <p class="time-select__place">Curzon</p>
                        </div>
<!--                        <ul class="col-sm-8 items-wrap">-->
<!--                            <li class="time-select__item" data-time="09:00">09:00</li>-->
<!--                            <li class="time-select__item" data-time="11:00">11:00</li>-->
<!--                            <li class="time-select__item" data-time="13:00">13:00</li>-->
<!--                            <li class="time-select__item" data-time="15:00">15:00</li>-->
<!--                            <li class="time-select__item" data-time="17:00">17:00</li>-->
<!--                            <li class="time-select__item" data-time="19:0">19:00</li>-->
<!--                            <li class="time-select__item" data-time="21:0">21:00</li>-->
<!--                            <li class="time-select__item" data-time="23:0">23:00</li>-->
<!--                            <li class="time-select__item" data-time="01:0">01:00</li>-->
<!--                        </ul>-->
                        <ul class="col-sm-8 items-wrap">
                            <span th:each="s:${scenes}">
                                <li  class="time-select__item" th:data-time="${s.showtime}" th:text="${s.showtime}"></li>
                            </span>
                            <span th:if="${scenes.isEmpty()}" >
                                <li th:text="好像没有场次"></li>
                            </span>
                        </ul>
                    </div>

                </div>

                <h2 class="page-heading" >评论 (<span th:text="${reviews.size()}"></span>)</h2>
                <div class="comment-wrapper">
                    <form id="comment-form" class="comment-form" method="post">
                <textarea
                        class="comment-form__text"
                        placeholder="发表您的评论吧"
                ></textarea>
                        <button
                                type="submit"
                                class="btn btn-md btn--danger comment-form__btn"
                        >
                            发表评论
                        </button>
                    </form>

                    <div class="comment-sets">
                        <div th:each="r:${reviews}">
                            <!-- 评论 -->
                            <div class="comment">
                                <a href="#" class="comment__author" th:text="${r.userId}">Roberta Inetti</a>
                                <p class="comment__date" th:text="${r.createTime}"></p>
                                <p class="comment__message" th:text="${r.content}">
                                </p>
                                <a href="#" class="comment__reply">Reply</a>
                            </div>
                            <!-- 评论结束 -->
                        </div>



                        <!-- 回复提示框的展开，在custom.js 1069行 -->
                        <!-- 评论回复 -->
                        <div class="comment comment--answer">
                            <a href="#" class="comment__author">Dmitriy Pustovalov</a>
                            <p class="comment__date">today | 10:19</p>
                            <p class="comment__message">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                vitae enim sollicitudin, euismod erat id, fringilla lacus.
                                Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra
                                a, mattis in velit. Morbi molestie rhoncus enim, vitae
                                sagittis dolor tristique et.
                            </p>
                            <a href="#" class="comment__reply">Reply</a>
                        </div>
                        <!-- 回复结束 -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MoviePage();
    });
</script>
</body>
</html>
