<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(资讯列表)}"></div>
<body>
<div class="wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="overflow-wrapper">
            <div class="col-sm-12">

                <h2 class="page-heading">资讯</h2>

                <div th:each="n:${news.list}">
                    <!-- News post article-->
                    <article class="post post--news">

                        <h1><a href="single-page-full.html" class="post__title-link" th:href="@{/news/(${n.id})}" th:text="${n.title}"></a></h1>
                        <p class="post__date" th:text="${n.createTime}"> </p>

                        <div class="wave-devider"></div>

                        <p class="post__text" th:text="${n.content}">/p>

                        <div class="devider-huge"></div>
                    </article>
                    <!-- end news post article-->
                </div>


                <div class="pagination">
                    <span th:if="${news.pageNum eq 1}">
                        <a th:href="@{/news/(pageNum=${news.pageNum})}" class="pagination__prev">prev</a>
                    </span>
                    <span th:if="${news.pageNum gt 1}">
                        <a th:href="@{/news(pageNum=${news.pageNum}-1)}" class="pagination__prev">prev</a>
                    </span>

                    <span th:if="${news.pageNum} lt ${news.pages}">
                        <a th:href="@{/news(pageNum=${news.pageNum}+1)}" class="pagination__next">next</a>
                    </span>

                    <span th:if="${news.pageNum} eq ${news.pages}">
                        <a th:href="@{/news(pageNum=${news.pageNum})}" class="pagination__next">next</a>
                    </span>
                </div>




            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

</body>
</html>
