<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(新闻)}"></div>

<body>
<div class="wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="post">

                <h1 th:text="${aNew.title}"></h1>
                <p class="post__date" th:text="${aNew.createTime}"> </p>

                <div class="wave-devider"></div>
                <div>
                    <a th:text="${aNew.content}"></a>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">

    $(document).ready(function () {
        init_SinglePage();
    });
</script>

</body>
</html>