<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{/fragment/common-fragment :: head(评分)}"></div>

  <body>
    <div class="wrapper">
      <!-- Header section -->
      <div th:replace="~{/fragment/common-fragment :: header}"></div>

      <!-- Main content -->
      <section class="container">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="page-heading">评分</h2>

              <div class="rates-wrapper rates--full">
                <table>
                  <span th:each="m:${list}">
                  <colgroup class="col-width-lg"></colgroup>
                  <colgroup class="col-width"></colgroup>
                  <colgroup class="col-width-sm"></colgroup>
                  <colgroup class="col-width"></colgroup>

                    <span th:if="${m.no <= 3}">
                      <tr class="rates rates--top">
                    <td class="rates__obj">
                      <a th:href="|/movies/${m.id}|" class="rates__obj-name" th:text="${m.no}+'.'+${m.name}"
                      >1. Thor: The Dark World</a
                      >
                    </td>
                    <td class="rates__vote"><sapn th:text="${m.num}"></sapn> 个评分</td>
                    <td class="rates__result" th:text="${#numbers.formatDecimal(m.score,1,1)}">5.0</td>
                    <td class="rates__stars"><div class="score" th:id="|score${m.id}|"></div></td>
                  </tr>

                    </span>

                    <span th:if="${m.no > 3}">
                       <tr class="rates">
                    <td class="rates__obj">
                      <a th:href="|/movies/${m.id}|" class="rates__obj-name" th:text="${m.no}+'.'+${m.name}"
                      >4. The Armstrong Lie</a
                      >
                    </td>
                    <td class="rates__vote"><span th:text="${m.num}"></span> 个评分</td>
                    <td class="rates__result" th:text="${#numbers.formatDecimal(m.score,1,1)}"></td>
                    <td class="rates__stars"><div class="score" th:id="|score${m.id}|"></div></td>
                  </tr>
                    </span>

                  </span>
                </table>
              </div>

<!--              <div class="pagination paginatioon&#45;&#45;full coloum-wrapper">-->
<!--                <a href="#" class="pagination__prev">prev</a>-->
<!--                <a href="#" class="pagination__next">next</a>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </section>

      <div class="clearfix"></div>

      <!-- footer -->
      <div th:replace="~{/fragment/common-fragment :: footer}"></div>
    </div>

    <!-- open/close -->
    <div th:replace="~{/fragment/common-fragment :: pop}"></div>

    <!-- JavaScript-->
    <div th:replace="~{/fragment/common-fragment :: script}"></div>

    <script type="text/javascript">
      $(document).ready(function() {
        // init_Rates();
        init_MovieList();
      });
    </script>
    <script th:each="m:${list}">

      $(document).ready(function () {
        "use strict";
        $('#score[[${m.id}]]').raty({
          width: 130,
          score: [[${m.score}]],
          path: '/images/rate/',
          starOff: 'star-off.svg',
          starOn: 'star-on.svg',
          readOnly:true
        });
      });

    </script>
  </body>
</html>
