<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(电影票)}"></div>

<body>
<div class="wrapper place-wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="order-container">
            <div th:each="t:${tickets}">
                <div class="ticket">
                    <div class="ticket-position">
                        <div class="ticket__indecator indecator--pre">
                            <div class="indecator-text pre--text">online ticket</div>
                        </div>
                        <div class="ticket__inner">

                            <div class="ticket-secondary">
                            <span class="ticket__item">Ticket number <strong
                                    class="ticket__number">a126bym4</strong></span>
                                <span class="ticket__item ticket__date" th:text="${#dates.format(t.createTime,'yyyy-MM-dd')}">25/10/2013</span>
                                <span class="ticket__item ticket__time " th:text="${t.showtime}">17:45</span>
                                <span class="ticket__item">Cinema: <span class="ticket__cinema">Cineworld</span></span>
                                <span class="ticket__item">Hall: <span class="ticket__hall">Visconti</span></span>
                                <span class="ticket__item ticket__price">price: <strong
                                        class="ticket__cost" th:text="'￥'+${t.totalPrice}"></strong></span>
                            </div>

                            <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">电影名<br><strong
                                    class="ticket__movie" th:text="${t.movieName}"></strong></span>
                                <span class="ticket__item ticket__item--primery">Sits:
                                <span class="ticket__place" th:text="${t.bookedSeated}"></span>
                            </span>
                            </div>


                        </div>
                        <div class="ticket__indecator indecator--post">
                            <div class="indecator-text post--text">online ticket</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>
</body>
</html>
